<div class="col-md-6 well" style="background-color: #777;border-color: #111">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form novalidate name="form" id="city-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        
        <div ng-messages="form.$error">
            <div ng-message="required">Llene el formulario</div>
        </div>
   
        <fieldset style="background-color: #777">
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >

                <label for="tipo" class="col-md-4 control-label">Tipo</label>
                <div class="col-md-10">
                    <select id="tipo" name="tipo" ng-model="currentRecord.tipo" ng-options="tipo.nombre for tipo in tipos track by tipo.id" class="form-control" type="text" ng-model="currentRecord.tipo"></select>
                </div>

                <label for="caracteristicas" class="col-md-4 control-label">Caracteristicas</label>
                <div class="col-md-10">
                    <input id="caracteristicas" name="caracteristicas" class="form-control" type="text" ng-model="currentRecord.caracteristicas" ng-init="currentRecord.caracteristicas" required />
                </div>
                                
            </div>
            
            <button type="button" class="btn btn-primary" ui-sref='equiposList'>Cancel</button>
            <button type="submit" class="btn btn-primary" >Save</button>    
        </fieldset>
    </form>
</div>