<div class="container-fluid" >
   
    <table class="table table-hover" class="col-md-4">
        <thead>
            <tr>
                <th class="active">Tipo</th>
                <th class="active">Caracteríticas</th>
                
                <th class="active">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
                <td id="{{$index}}-tipo">{{record.tipo.nombre}}</td>
                <td id="{{$index}}-caracteristicas">{{record.caracteristicas}}</td>

                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-primary" ui-sref="equipoEdit( {equipoId: record.id})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button id="{{$index}}-delete-btn" class="btn btn-primary" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Remove</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>