<div class="col-md-6 well">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form novalidate name="form" id="city-form" role="form" ng-submit="form.$valid && ctrl.devolver()">
        
        <div ng-messages="form.$error">
            <div ng-message="required">Devolver equipo</div>
        </div>
        <h2>Devolver equipo </h2>
   
        <fieldset>
            
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >


                <label for="id_Equipo" class="col-md-4 control-label">Id equipo</label>
                <div class="col-md-10">
                    <input id="id_Equipo" name="id_Equipo" class="form-control" type="number" ng-model="idEquipo" ng-init="idEquipo" required />
                </div>
                                
            </div>
            
            <button type="button" ui-sref='reservasList'>Cancel</button>
            <button type="submit" >Save</button>    
        </fieldset>
    </form>
</div>