<div ng-messages="form.$error" multiple>
            <ng-message when="required">
                <alert type="warning"><b>Ingrese los valores requeridos.</b><br>
                Estados válidos de reserva: <br>
                "Reserva Cancelada" <br>
                "Reserva Aprobada" <br>
                "Reserva Finalizada" <br>
                "Reserva Activa"<br>
                "Reserva Pendiente"</alert>
            </ng-message>    <br>
            <ng-message when="date">
                <alert type="warning">No es una fecha válida!</alert>
            </ng-message> 
</div>

<div class="col-md-12 well">
    <form novalidate name="form" id="book-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">

        

        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <!-- Estado -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.estado.$valid && form.estado.$dirty, 'has-error': form.estado.$invalid && (form.estado.$dirty || form.$submitted)}" >
                <label for="estado" class="col-md-2 control-label">Estado</label>
                <div class="col-md-10">
                    <input id="estado" name="estado" class="form-control" type="text" ng-model="currentRecord.estado" ng-init="currentRecord.estado" required />
                </div>
            </div>
            <!-- Fecha -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.fecha.$valid && form.fecha.$dirty, 'has-error': form.fecha.$invalid && (form.fecha.$dirty || form.$submitted)}" >

                <label for="fecha" class="col-md-2 control-label">Fecha:</label>
                
                <div class="col-md-10">
                    <input  id="publishingdate" name="fecha"  type="date" class="form-control" uib-datepicker-popup ng-model="currentRecord.fecha" ng-required="true" close-text="Close" />
                    
                </div>
            </div>
           
           
             </fieldset>
            <div class="form-group col-md-12">
                <button type="button" ui-sref='profesorReservasList'>Cancel</button>
                <button type="submit" >Save</button>   
            </div>
       
    </form>
</div>

