<div class="container-fluid" >
    <button class="btn btn--default" ui-sref="profesorReservaCreate">Crear Reserva</button>
    <button class="btn btn--default" ui-sref="profesorReservasRangoFechas">Buscar reservas en rango de fechas</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="active">Fecha</th>
                <th class="active">Estado</th>
                <th class="active">Equipo</th>
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records" style="background-color: #D0D3D4">
                <td id="{{$index}}-fecha">{{record.fecha}}</td>
                <td id="{{$index}}-estado">{{record.estado}}</td>
                <td id="{{$index}}-equipo">{{record.equipoDTO.id}}</td>
                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-primary" ng-click="ctrl.cancelarRecord(record)"><span class="glyphicon glyphicon-minus"></span> Cancelar</button>
                        
                </td>    
            </tr>
        </tbody>
    </table>
</div>
