<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row">
            <button class="btn btn-default" ui-sref="puntoDeAtencionCreate">Crear punto de Atención</button></div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                   
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in records">
                       
                        <td id="{{$index}}-ubicacion">{{record.ubicacion}}</td>

                        <td>
                            <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="puntoDeAtencionEdit({puntoDeAtencionId: record.id})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                            <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Remove</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>